# Data
*.csv

# Images
*.png
*.jpg
*.jpeg

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# VSCode
.vscode/

# Mac
.DS_Store

# Generated backtest folders
BT_*/
CAGR_Plots/
CAGR Testing/
NewPlots/